* {
  font-family: 'Lato', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background: #ffffff; }

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px; }

.title {
  display: block;
  color: #666d89;
  font-size: 30px;
  font-weight: 900;
  line-height: 17.86px;
  margin-top: 0;
  margin-bottom: 25px; }

.desc {
  color: #767e9e;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 50px;
  letter-spacing: 0.15px; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
  margin-right: -15px; }

.row-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.col-4 {
  padding-left: 12px;
  padding-right: 12px;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.block {
  display: block; }

.social__icon {
  height: 32px;
  width: 32px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: .7;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1);
          transform: scale(1); }
  .social__icon:hover {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 1; }
  .social__icon_1 {
    background-image: url(../assets/img/Facebook.png); }
  .social__icon_2 {
    background-image: url(../assets/img/Google.png); }
  .social__icon_3 {
    background-image: url(../assets/img/Twitter.png); }
  .social__icon_4 {
    background-image: url(../assets/img/LinkedIn.png); }

.header {
  background: #2d303a; }
  .header-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header-logo {
    text-decoration: none; }
    .header-logo__title {
      color: #ffffff;
      font-size: 25px;
      font-weight: 700;
      text-transform: uppercase;
      display: block;
      margin-top: 35px;
      margin-bottom: 35px;
      letter-spacing: -0.1px;
      line-height: 20px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .header-logo__title:hover {
        color: #f06c64; }
        .header-logo__title:hover span {
          color: #ffffff; }
      .header-logo__title span {
        font-size: 25px;
        color: #f06c64; }
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-top: 40px; }
    .header-menu__link {
      color: #ffffff;
      font-size: 12px;
      font-weight: 700;
      line-height: 6.32px;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .header-menu__link:hover {
        color: #eb5055; }
      .header-menu__link_active {
        color: #f06c64; }
    .header-menu__point {
      color: #494e62;
      padding-left: 12.5px;
      padding-right: 12.5px; }
  .header-bottom {
    height: 6px;
    background-color: #323746; }

.slider {
  padding-top: 55px;
  background-color: #f06c64; }
  .slider-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: relative;
    padding-left: 35px;
    padding-right: 35px; }
  .slider-item {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat; }
    .slider-item__1 {
      padding: 65px 38px 85px 14px;
      width: 240px;
      height: 483px;
      background-image: url(assets/img/mockup.png); }
    .slider-item__2 {
      padding: 14px 91px 38px 60px;
      height: 240px;
      width: 484px;
      background-image: url(assets/img/mockup_2.png); }
  .slider-arrow {
    width: 20px;
    height: 60px;
    position: absolute;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    cursor: pointer; }
    .slider-arrow:before, .slider-arrow:after {
      content: "";
      display: block;
      background-color: #ca4549;
      position: absolute;
      height: 5px;
      width: 18px;
      border-radius: 3px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
    .slider-arrow:hover:before, .slider-arrow:hover:after {
      background-color: #e7393e; }
    .slider-arrow__prev {
      left: 0; }
      .slider-arrow__prev:hover {
        -webkit-transform: translateX(-8px);
                transform: translateX(-8px); }
      .slider-arrow__prev:before {
        -webkit-transform-origin: left center;
                transform-origin: left center;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        top: 27px; }
      .slider-arrow__prev:after {
        -webkit-transform-origin: left center;
                transform-origin: left center;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        top: 24px; }
    .slider-arrow__next {
      right: 0; }
      .slider-arrow__next:hover {
        -webkit-transform: translateX(8px);
                transform: translateX(8px); }
      .slider-arrow__next:before {
        -webkit-transform-origin: right center;
                transform-origin: right center;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        top: 27px; }
      .slider-arrow__next:after {
        -webkit-transform-origin: right center;
                transform-origin: right center;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        top: 24px; }
    .slider-arrows {
      width: 100%;
      position: absolute;
      top: calc(50% - 30px); }
  .slider-bottom {
    margin-top: 59px;
    height: 6px;
    background-color: #ea676b; }

.services {
  background-color: #f2f2f2;
  padding-top: 70px; }
  .services__desc {
    display: block;
    margin-bottom: 48px; }
  .services-item {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .services-item__icon-wrap {
      line-height: 60px;
      min-width: 60px;
      width: 60px;
      height: 60px;
      margin-right: 20px;
      text-align: center;
      padding: 6px;
      border-radius: 50%;
      border: 2px solid #666d89; }
    .services-item__title {
      display: block;
      color: #666d89;
      font-size: 18px;
      font-weight: 900;
      line-height: 17.86px;
      letter-spacing: -0.1px;
      margin: 0;
      margin-bottom: 9px; }
    .services-item__desc {
      display: inline-block;
      color: #767e9e;
      font-family: Lato;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.9;
      letter-spacing: 0.2px;
      text-align: justify; }
  .services-bottom {
    height: 6px;
    margin-top: 70px;
    background-color: #ffffff; }
/*# sourceMappingURL=singolo1.css.map */
